.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .footer p {
    margin: 0.25rem;
  }
  
  .footer ul {
    list-style: none;
  display: flex;
  align-items: center;
  margin: 0.25rem;
  padding: 0;
  }
  
  .footer li {
    margin: 0 0.25rem;
  }

  .footer a span {
      display: none;
  }

  @media all and (min-width: 520px) { 
    .footer a span {
        display: inline;
    }
    .footer li {
        margin: 0 1rem;
      }
}